
    <div id="colorform" class="row">
    <div class="col-9">
    <label for="exampleColorInput" class="form-label">Pick a color for your button and widget</label></div>
    <div class="col-3 pt-2 text-center"><input type="color" class="form-control form-control-color" name="color" id="color" value="{{ color }}" title="Choose your color">
    <button type="submit" class="btn btn-sm text-white mt-1 border" style="background-color:#b5aee4; background-image: repeating-linear-gradient(-45deg, rgba(255,255,255, 0.25), rgba(255,255,255, 0.25) 1px, transparent 1px, transparent 6px);
    background-size: 8px 8px;"><small>Save</small></button></div>
</div>
