{% if not membership.gmb_refresh_token %}
<div id="connect_google" class="border row bg-light p-3 w-100 rounded shadow" style="position:relative;">
  Connect your Google account
  <a href="{{ gmb }}" class="btn btn-sm w-100 outline shadow">Connect your Google Account</a>
</div>
{% elif accounts and not locations %}
<div id="connect_google" class="border row bg-light p-3 w-100 rounded shadow" style="position:relative;">
  Which Google Business Account is Yours?<br/>
  {% for a in accounts %}
  <form hx-post="{% url 'gmb' %}" hx-target="#connect_google">
    <input type="hidden" value="{{ a.name }}" name="account_id">
    <button type="submit" class="btn btn-sm w-100 bg-light border">{{ a.accountName }}</button>
  </form>
  {% endfor %}
</div>
{% elif locations and not membership.gmb_location_name %}
<div id="connect_google" class="border row bg-light p-3 w-100 rounded shadow" style="position:relative;">
  {% include 'gmb/locations.html' %}
</div>
{% else %}
<div id="connect_google" class="border row bg-light p-3 w-100 rounded shadow" style="position:relative;">
  <img src="https://res.cloudinary.com/dfz4bhlzs/image/upload/v1675197360/icons8-google-48_fpsdrp.png" style="width:45px;"> Currently Connected to: {{ selected_location }}
</div>
{% endif %}
