{% extends 'specialwidget/base.html' %}
{% load static %}

{% block title %}
{% endblock %}

{% block content %}
<div class="h-100 d-flex align-items-center justify-content-center">
    <div class="col-md-3 p-5 text-center border shadow-sm rounded"
         style="margin-top:15%;background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);">
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.username.label_tag }}
                {{ form.username }}
            </div>
            <div class="mb-3">
                {{ form.password.label_tag }}
                {{ form.password }}
            </div>
            <div class="form-check mb-3">
                {{ form.remember_me }} {{ form.remember_me.label_tag }}
            </div>
            <div class="mb-3 text-end">
                <a href="{% url 'password_reset' %}">Forgot password?</a>
            </div>
            <button type="submit" class="btn btn-lg border shadow-sm px-4 text-white"
                    style="background-color:#f08000; background-image: repeating-linear-gradient(-45deg, rgba(255,255,255, 0.25), rgba(255,255,255, 0.25) 1px, transparent 1px, transparent 6px); background-size: 8px 8px;">
                <i class="fa-solid fa-egg text-black-50"> Continue</i>
            </button>
        </form>
    </div>
</div>

<!-- Page Content Ends Here-->

{% endblock %}
