{% extends 'specialwidget/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% block title %}
{% endblock %}
{% block content %}
{% include 'specialwidget/sidebar.html' %}

<div id="main" class="col py-3">
    <h4 class="display-4 text-white ms-4">Google Connect</h4>
    <div class="d-flex align-items-center justify-content-center mx-auto" style="width: 21rem;margin-top:20px;margin-bottom: 20px;">
        {% include 'ajax/gmb.html' %}
    </div>
</div>
{% endblock %}
