{% extends 'specialwidget/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags%}
{% block title %}

{% endblock %}

{% block content %}
{% include 'specialwidget/sidebar.html' %}


  <div id="main" class="col py-3">



<div class="d-flex align-items-center justify-content-center mx-auto" style="width: 75vw;max-width:21em; margin-top:20px;margin-bottom: 20px;">
<div  id="" class="border row bg-light p-3 w-100 rounded shadow" style="position:relative;">
  <p>Please email support@appertivo.com for help</p>
</div>
</div>






</div></div>
{% endblock %}