
<div id="onboard">
        <h6 class="text-dark mb-4 display-4 fs-3">Confirm Location</h6>
        <div class="border-start border-3 p-2">
        <h3 class="text-dark">{{data.name}}</h3>
        <span class="">{{data.street}}, {{data.city}}, {{data.state}} {{data.zip}}</span>
        </div>
        <button hx-get="{% url 'final_onboarding' %}" hx-target="#onboard" class="btn btn-lg w-100 border mt-3 p-1 text-white shadow" style="background-color:#b5aee4; background-image: repeating-linear-gradient(-45deg, rgba(255,255,255, 0.25), rgba(255,255,255, 0.25) 1px, transparent 1px, transparent 6px);
                background-size: 8px 8px;" type="submit">Yes</button>

            <a href="{% url 'dashboard' %}" class="btn btn-sm w-100 border mt-3 p-1 text-dark bg-light" type="submit">Search Again</a>
</div>